<header id="header" class="header">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="/">MySite<span>.</span></a></h1>
    </div>

    <nav id="navbar" class="navmenu">
      <ul>
        <li><a class="nav-link" href="/">Főoldal</a></li>
        <li><a class="nav-link" href="/receptek">Receptek</a></li>
        <li><a class="nav-link" href="/autentikacio">Autentikáció</a></li>
        <li><a class="nav-link" href="/kapcsolat">Kapcsolat</a></li>
        <li><a class="nav-link" href="/uzenetek">Üzenetek</a></li>
        <li><a class="nav-link" href="/crud">CRUD</a></li>
      </ul>
    </nav>

  </div>
</header>
