<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('partials/head'); %>
</head>
<body>

<%- include('partials/header'); %>

<main>
    <%- body %>
</main>

<%- include('partials/footer'); %>

</body>
</html>
